{% extends 'layouts/base.html' %}

{% block title %} Author {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock body_class %}

{% block content %}

    {% include "includes/navigation.html" %}

    <section class="py-sm-7 py-5 position-relative">
        <div class="container">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if items and current_order %}
                        {% for item in items  %}
                            <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                                                              src="{{ item.book.image }}"
                                                                              style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ item.book.name }}</a></h4>
                                    <h5 class="media-heading"> by <a href="#">{{ item.book.author.name }}</a></h5>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="{{ item.quantity }}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ item.book.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ item.book.price * item.quantity}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="fa fa-remove"></span> Remove
                            </button>
                        </td>
                    </tr>

                        {% endfor %}


                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>${{ current_order.total}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-default">
                                <span class="fa fa-shopping-cart"></span> Continue Shopping
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success">
                                Checkout <span class="fa fa-play"></span>
                            </button>
                        </td>
                    </tr>
                        {% else %}
                        No product shopping now
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>

    </section>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}