<!DOCTYPE html>
<html>
<head>
   <title>User Profile</title>
</head>
<body>
   <h1>User Profile</h1>
   <p>Fullname: {{ user.full_name }}</p>
   <p>Email: {{ user.email }}</p>
   <p>Password: {{ user.password }}</p>
   <p>Role: {{ user.role_id }}</p>
  <h2>Orders</h2>
{% for order in user.list_order %}
   <h3>Order ID: {{ order.id }}</h3>
   <p>Date: {{ order.created_date }}</p>
   <p>Total: {{ order.total }}</p>
   <h4>Order Items</h4>
   <ul>
   {% for order_item in order.list_order_item %}
       <li>{{ order_item.book.title }} - {{ order_item.quantity }} x ${{ order_item.book.price }}</li>
   {% endfor %}
   </ul>
{% endfor %}


</body>
</html>
